* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4b453d;
}

.container {
    position: relative;
    width: 320px;
    height: 630px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

}

.bg-img {
    width: 100%;
    height: 60%;
    background: url("/foto.jpg") center / cover;
}

.content {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 360%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 13px;
    background: linear-gradient(to top, #000 70px, transparent);
}

.box-one {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.fa-star {
    color: #FFE600;
    margin: 0 1px;
}

.sub-text {
    font-size: 13px;
    text-align: justify;
    color: #615B5B;
    font-weight: bold;
}

.sub-text span {
    color: #fff;
}

#txt {
    text-align: right;
}

.box-two {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.box-two button {
    height: 42px;
    border: none;
    outline: none;
    font-weight: bolder;
    font-size: 16px;
    color: #fff;
    background-color: #E58914;
    border-radius: 6px;
    cursor: pointer;
}